h1 {
    font-size: 2.5rem;
    margin: 0px;
    font-weight: bolder;
}

h2 {
    font-size: 2.08rem;
    font-weight: bolder;
    margin: 0px;
}

h3 {
    font-size: 1.66rem;
    font-weight: bolder;
    margin: 0px;
}

h4 {
    font-size: 1.625rem;
    font-weight: bolder;
    margin: 0px;
}

h5 {
    font-size: 1.45rem;
    font-weight: bolder;
    margin: 0px;
}

h6 {
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 0px;
}