h1 {
    font-size: 3.1rem;
    margin: 0px;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0px;
}

h3 {
    font-size: 1.8rem;
    font-weight: 650;
    margin: 0px;
}

h4 {
    font-size: 1.625rem;
    font-weight: 600;
    margin: 0px;
}

h5 {
    font-size: 1.45rem;
    font-weight: 600;
    margin: 0px;
}

h6 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

a[href] {
    color: $l-blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $d-blue;
    }
}