.hoto-input-checkbox {
    margin-bottom: 0.5rem;
    input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
    label {
        margin-right: 5px;
        font-family: 'OUR-FONT-ICON';
        transition: all 0.3s ease;
    }
    input+label {
        background-color: white;
        border-radius: 0.5rem;
        padding: 1px;
        border: 2px solid $hoto-gray;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
    }
    input:checked+label {
        border-color: $m-blue;
        background-color: $m-blue;
    }
    input:checked+label:after {
        color: white;
        font-size: 0.8rem;
        content: "";
    }
}

.hoto-input-switch {
    outline: none;
    appearance: none;
    position: relative;
    width: 55px;
    height: 25px;
    background: #B2B2B2;
    border-radius: 1rem;
    transition: border-color .3s, background-color .3s;
    cursor: pointer;
    &::after {
        content: '';
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 2px 18px rgba(#000000, 0.07);
        transition: .4s;
        top: 5px;
        position: absolute;
        left: 5px;
    }
    &:checked {
        background: $m-blue;
    }
    &:checked::after {
        content: '';
        position: absolute;
        left: 65%;
        top: 5px;
    }
}