.hoto-input-range {
    appearance: none;
    overflow: hidden;
    width: 15rem;
    height: 16px;
    outline: none;
    background: $m-blue;
    padding: 8px;
    border-radius: 100px;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
}

.hoto-input-range::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    margin-top: -1px;
    background: #ffffff;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
    appearance: none;
}

.hoto-input-range::-moz-range-thumb {
    height: 16px;
    width: 16px;
    margin-top: -1px;
    background: #ffffff;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
    appearance: none;
}

.hoto-input-range::-webkit-slider-runnable-track {
    height: 16px;
    background: $m-blue;
    border-radius: 50%;
    padding: 1px;
}