.hoto-btn {
    height: 2.6rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: $m-blue;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
        background-color: #4a71b4;
    }
    &:active {
        transform: scale(0.95, 0.95);
    }
    &:disabled {
        cursor: not-allowed;
        color: #B2B2B2;
        background-color: #F8F8F8;
    }
}

.hoto-btn-icon {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0px;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background-color: #F9F8F8;
    font: {
        family: 'OUR-FONT-ICON';
        size: 1.2rem;
        weight: 900;
    }
    transition-duration: 0.2s;
    &:hover {
        background-color: #E5E5E5;
    }
    &:active {
        transform: scale(0.95, 0.95);
    }
}

.hoto-btn-long {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 20px;
    background-color: rgba(#FFF, 0);
    border: 1px solid $hoto-gray;
    border-radius: 0.5rem;
    transition-duration: 0.2s;
    span.hoto-btn-long-main-icon {
        flex: 0 !important;
        user-select: none;
        font-size: 1.3rem;
        font-weight: 400;
        margin-right: 1rem;
        text-align: left;
    }
    text {
        font-size: 1.1rem;
    }
    span.hoto-icons {
        user-select: none;
        flex: 1;
        font-size: 1.3rem;
        text-align: right;
    }
    &:hover {
        cursor: pointer;
        background-color: #f5f5f5;
    }
    &:active {
        border-color: $m-blue;
    }
}