:root {
    --hoto-l-blue: $l-blue;
    --hoto-m-blue: $m-blue;
    --hoto-d-blue: $d-blue;
    --hoto-l-green: $l-green;
    --hoto-m-green: $m-green;
    --hoto-d-green: $d-green;
    --hoto-l-yellow: $l-yellow;
    --hoto-m-yellow: $m-yellow;
    --hoto-d-yellow: $d-yellow;
    --hoto-l-purple: $l-purple;
    --hoto-m-purple: $m-purple;
    --hoto-d-purple: $d-purple;
    --hoto-l-red: $l-red;
    --hoto-m-red: $m-red;
    --hoto-d-red: $d-red;
    --hoto-gray: $hoto-gray;
}