.hoto-color-light-blue {
    color: $l-blue !important;
}

.hoto-color-medium-blue {
    color: $m-blue !important;
}

.hoto-color-dark-blue {
    color: $d-blue !important;
}

.hoto-color-light-green {
    color: $l-green !important;
}

.hoto-color-medium-green {
    color: $m-green !important;
}

.hoto-color-dark-green {
    color: $d-green !important;
}

.hoto-color-light-yellow {
    color: $l-yellow !important;
}

.hoto-color-medium-yellow {
    color: $m-yellow !important;
}

.hoto-color-dark-yellow {
    color: $d-yellow !important;
}

.hoto-color-light-purple {
    color: $l-purple !important;
}

.hoto-color-medium-purple {
    color: $m-purple !important;
}

.hoto-color-dark-purple {
    color: $d-purple !important;
}

.hoto-color-light-red {
    color: $l-red !important;
}

.hoto-color-medium-red {
    color: $m-red !important;
}

.hoto-color-dark-red {
    color: $d-red !important;
}