.hoto-is-use-navbar {
    margin-top: 4rem;
}

.hoto-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    height: 2rem;
    margin: 20px;
    border: 1px solid $hoto-gray;
    border-radius: 0.5rem;
    padding: 20px;
    background-color: rgba(#FFFFFF, 0.8);
    box-shadow: 0px 2px 18px rgba(#000000, 0.07);
    backdrop-filter: blur(1.3rem);
    .hoto-navbar-title {
        display: flex;
        user-select: none;
        align-items: center;
        font-size: 35px;
        font-weight: 350;
        text-decoration: none;
        color: black;
    }
}