.hoto-snackbar {
    width: 100%;
    display: grid;
    justify-items: center;
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 10rem;
    div.hoto-snackbar-panel {
        opacity: 0;
        transition-duration: 0.2s;
        visibility: hidden;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        padding: {
            left: 1rem;
            right: 1rem;
            top: 0.5rem;
            bottom: 0.5rem;
        }
        background-color: $themeBgColor;
        box-shadow: 0px 2px 18px rgba(#000000, 0.07);
        .hoto-icons {
            margin-right: 5px;
        }
    }
}

.hoto-snackbar-show {
    visibility: visible !important;
    transition: all 0.3s ease;
    opacity: 1 !important;
}