/* Fonts */

@font-face {
    font-family: 'OUR-FONT-ICON';
    src: url('./fonts/OUR-FONT-ICON/OUR-FONT-ICON.ttf?5gzcad') format('truetype'), url('./fonts/OUR-FONT-ICON/OUR-FONT-ICON.woff?5gzcad') format('woff'), url('./fonts/OUR-FONT-ICON/OUR-FONT-ICON.svg?5gzcad#OUR-FONT-ICON') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* Color */

$l-blue: #A6D3FD;
$m-blue: #5395FD;
$d-blue: #4A71B4;
$l-green: #1FCC7C;
$m-green: #2F9C41;
$d-green: #256D40;
$l-yellow: #FFD83A;
$m-yellow: #F8BD34;
$d-yellow: #FFB217;
$l-purple: #DB87FF;
$m-purple: #9167A1;
$d-purple: #70458A;
$l-red: #FF3E3E;
$m-red: #EE1818;
$d-red: #D90000;
$hoto-gray: #EFEFEF;

/* Theme Settings */

$themeMainColor: $m-blue;
$themeBgColor: white; // If you want to change to the Nadir,use #FFFEF9.
$themeBorderColor: $hoto-gray;

/* Components */

@import "./components/dropdown/index.scss";
@import "./components/modal/index.scss";
@import "./components/sidebar/index.scss";
@import "./components/card/index.scss";
@import "./components/navbar/index.scss";
@import "./components/button/index.scss";
@import "./components/input/index.scss";
@import "./components/tips/index.scss";
@import "./components/table/index.scss";
@import "./components/snackbar/index.scss";

/* Styles */

@import "./styles/global/index.scss";
@import "./styles/var/color.scss";